<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title text-center">Create Document</h4>
                        <p class="card-category text-center"> create document</p>
                    </div>
                  
                    <div class="card-body " [formGroup]="createForm">
                        <div class="s-list"> 
                        <div class="s-item">
                            <mat-form-field>
                              <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="date">
                              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                              <mat-datepicker touchUi #picker></mat-datepicker>
                            </mat-form-field>
                          </div>
                                          
                        <div class="s-item">
                          <mat-form-field>
                            <input matInput placeholder="Amount" type="text" formControlName="amount">
                          </mat-form-field>
                        </div>
                      
                          <div class="s-item">
                            <mat-form-field>
                                  <input matInput placeholder="Purpose" type="text" formControlName="purpose">
                            </mat-form-field>
                          </div>
                          <div class="s-item">
                            <mat-form-field>
                              <mat-select placeholder="Currency" formControlName="currency">
                                <mat-option *ngFor="let cur of currencies" [value]="cur.id">
                                  {{cur.name}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div> 
                    </div>
                   
                          <!-- <mat-form-field class="example-full-width">
                            <textarea rows="6" type="text" matInput placeholder="requisites" formControlName="requisites"></textarea>
                          </mat-form-field> -->
                        <div class="d-flex justify-content-center">
                          <button mat-raised-button class="btn btn-success" (click)='create()' [disabled]='createForm.invalid'>Save</button>
                        </div>   
                </div>
            </div>
        </div>
    </div>
  </div>  
  
