.cont{
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 100%;
  height: 100%;
  margin-top: -10%
}
.login{
    width:100%;
}
.main-content{
    height: 100%;
    width:100%;
}
// .carHead{
//     background: linear-gradient(135deg, #525AAD 0%, #252C5D 100%);
// }