.card .card-header-danger:not(.card-header-icon):not(.card-header-text), .card.bg-danger, .card.card-rotate.bg-danger .front, .card.card-rotate.bg-danger .back{
    background: linear-gradient(135deg, #525AAD 0%, #252C5D 100%);
}
.men-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1%;
}
.detail-link, .det-del  {
    cursor: pointer;
}
.st-field{
    width: 70px;
}
.st-th{
    cursor: pointer;
}
.st-i{
    font-size: 16px; 
}